<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://dtz.rocks/"
            style="padding-right: 12px;padding-left: 12px;background-color: rgba(0,0,0,0.2);border-radius: 1em;">
            <span>unpatched</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ $page := .Page }}
                {{ range .Site.Menus.main }}
                <li class='nav-item {{ if eq (trim $page.RelPermalink "/") ( trim .URL "/" ) }}active{{ end }}'><a
                        class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            <style>
                .nav-item:last-child {
                    border-right: 0;
                }

                .nav-item {
                    border-right: 2px solid orange;
                }

                .nav-item.active {
                    font-weight: 600;
                }
            </style>
        </div>
    </div>
</nav>
<script>
    var user;
    var knownContexts;
    function parseJwt(token) {
        try {
            return JSON.parse(atob(token.split('.')[1]));
        } catch (e) {
            return null;
        }
    }
    function signOut(evt) {
        if (evt) evt.preventDefault();
        Cookies.remove('dtz-auth', { domain: 'dtz.rocks' });
        window.location.reload();
    }
    function changeToContextId(new_context_id, new_target_url) {
        fetch("https://identity.dtz.rocks/api/2021-02-21/token/refresh", {
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
            method: "POST",
            body: JSON.stringify({ contextId: new_context_id })
        }).then(r => r.json()).then(x => {
            let token = x.access_token;
            let expires = x.expires_in;
            let exp_date = new Date(new Date().getTime() + expires * 1000);
            Cookies.set("dtz-auth", token, {
                expires: exp_date,
                domain: 'dtz.rocks', secure: true, sameSite: 'Lax'
            });
            let alias = getAliasForContext(new_context_id);
            if (alias && alias.length > 0) {
                document.querySelector("#currentContext").textContent = alias;
            } else {
                document.querySelector("#currentContext").textContent = new_context_id.split('-')[0];
            }
            if (new_target_url) {
                document.location = new_target_url;
            } else {
                location.reload();
            }
        })
    }
    function changeContext(evt) {
        if (evt) evt.preventDefault();
        let new_context_id = evt.target.dataset.contextid;
        changeToContextId(new_context_id);
    }
    function initNavbar() {
        let url = document.location.href;
        let urlObj = new URL(url);
        let token;
        // look for url token
        if (urlObj.searchParams.has("dtz-auth")) {
            token = urlObj.searchParams.get("dtz-auth");
        } else {
            // look for cookie token
            if (!Cookies.get('dtz-auth')) {
                if (url.indexOf("https://identity.dtz.rocks/signup/") == 0) {
                    return;
                }
                if (url.indexOf("https://identity.dtz.rocks/login/") == -1) {
                    window.location = "https://identity.dtz.rocks/login/?rd=" + url;
                }
            } else {
                token = Cookies.get('dtz-auth');
            }
        }
        let x = parseJwt(token);
        user = x;
        knownContexts = {};
        //look for cache context info
        let str = localStorage.contexts;
        if (str && str.length > 0) {
            let x = JSON.parse(str);
            // eval staleness, not older then 7 days
            if (x.version == "1") {
                if (x.ts < new Date().getTime() - 7 * 24 * 60 * 60 * 1000) {
                    //delete data
                    delete localStorage.contexts;
                } else {
                    knownContexts = x.data;
                }
            } else {
                //delete unknown data
                delete localStorage.contexts;
            }
        }
        let processed_contexts = [];
        let processed_identities = [];
        // look for context_id in roles
        if(x && x.roles) {
            for (let role of x.roles) {
                // ignore identities
                if (role.startsWith('https://dtz.rocks/identity/')
                    || role.startsWith('https://dtz.rocks/billing/')) {
                    if (!processed_identities.includes(role)) {
                        let identity_id = role.split('/')[5];
                        let li = document.createElement('li');
                        li.innerHTML = `<a class="dropdown-item" href="#">${identity_id}</a>`;
                        document.querySelector('#userIdentityList').append(li);
                        processed_identities.push(role);
                    }
                    continue;
                }
                let context_id = role.split('/')[5];
                if (processed_contexts.includes(context_id)) continue;
                let li = document.createElement("li");
                let link = document.createElement("a");
                link.href = "#";
                link.className = "dropdown-item";
                link.addEventListener('click', changeContext);
                link.id = "ctx" + context_id.replaceAll('-', '');
                link.dataset.contextid = context_id;
                if (knownContexts[context_id]) {
                    link.textContent = knownContexts[context_id].alias;
                } else {
                    link.textContent = context_id;
                    fetch("https://dtz.rocks/api/2021-12-09/context/" + context_id, {
                        credentials: 'include'
                    })
                        .then(r => r.json())
                        .then(data => {
                            if (data) {
                                let id = `#ctx${data.context_id.replaceAll('-', '')}`;
                                let el = document.querySelector(id);
                                el.textContent = `${data.alias} `;
                                document.querySelector(`#ctx${data.context_id.replaceAll('-', '')}`);
                                knownContexts[data.context_id] = { alias: data.alias };
                                // wrap around storage headers
                                let x = {
                                    ts: new Date().getTime(),
                                    version: "1",
                                    data: knownContexts
                                };
                                localStorage.contexts = JSON.stringify(x);
                            }
                        });
                }
                li.appendChild(link);
                processed_contexts.push(context_id);
                document.getElementById("contextList").appendChild(li);
            }
            let context_id = user.scope;
            fetch("https://dtz.rocks/api/2021-12-09/context/" + context_id, {
                credentials: 'include'
            })
                .then(r => r.json())
                .then(data => {
                    document.querySelector(`#currentContext`).textContent = data.alias;
                });
            document.querySelector("#userControl").style.display = "block";
        }
    }
    function getContextListFromCookie() {
        let result = [];
        for (let role of user.roles) {
            // ignore identities
            if (role.startsWith("https://dtz.rocks/identity/")
             || role.startsWith("https://dtz.rocks/billing/")) {
                continue;
            }
            let context_id = role.split('/')[5];
            if (!result.includes(context_id)) {
                result.push(context_id);
            }
        }
        return result;
    }
    function getIdentityListFromCookie() {
        let result = [];
        for (let role of user.roles) {
            // ignore identities
            if (role.startsWith("https://dtz.rocks/identity/assume/")) {
                let identity_id = role.split('/')[5];
                if (!result.includes(context_id)) {
                    result.push(context_id);
                }
            }
        }
        return result;
    }
    function getCurrentContext() {
        return user.scope;
    }
    function getAliasForContext(contextId) {
        if (contextId && knownContexts[contextId] && knownContexts[contextId].alias) {
            return knownContexts[contextId].alias;
        } else {
            return '';
        }
    }
    initNavbar();
</script>