<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"
            style="padding-right: 12px;padding-left: 12px;background-color: rgba(0,0,0,0.2);border-radius: 1em;">
            <i class="bi bi-bandaid" width="24px" style="vertical-align: text-top;"></i>
            <span>unpatched</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ $page := .Page }}
                {{ range .Site.Menus.main }}
                <li class='nav-item {{ if eq (trim $page.RelPermalink "/") ( trim .URL "/" ) }}active{{ end }}'><a
                        class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            <button class="btn btn-outline-secondary opacity-0 pe-none" type="button" id="loginout" onclick="logOut()">Log out</button>
            <style>
                .nav-item:last-child {
                    border-right: 0;
                }

                .nav-item {
                    border-right: 2px solid orange;
                }

                .nav-item.active {
                    font-weight: 600;
                }
            </style>
        </div>
    </div>
</nav>
<script>
    async function logOut() {
            let res = await fetch('/logout');
            if (!res.ok) {
                let error = await res.text();
                throw new Error(error);
            }
            sessionStorage.clear()
            location.reload();
    }

    async function checkLogIn(){
        const s = sessionStorage
        const l = document.getElementById("loginout")
        if (!s.getItem("logged_in")) {
            let res = await fetch('/loginstatus');
            if (res.ok) {
                s.setItem("logged_in", true)
                l.classList.remove("opacity-0", "pe-none")
            }
        } else {
            l.classList.remove("opacity-0", "pe-none")
        }
    }

    checkLogIn()
</script>
